In [0]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving new_egg_shoes.csv to new_egg_shoes.csv

In [3]:
shoes = pd.read_csv('new_egg_shoes.csv')
shoes.head(10)

                                                Name  ...                        Data
0  Nike Satire L Black/Black-Anthracite 654431-00...  ...  2019-12-30 10:50:21.362553
1     Lucky Brand Mens Gaston Leather Plain Toe Boot  ...  2019-12-30 10:50:21.362553
2  Adidas ZX Flux W White/White-Gold BY9216 Women...  ...  2019-12-30 10:50:21.362553
3     Nike Men's Tennis Classic CS Suede Tennis Shoe  ...  2019-12-30 10:50:21.362553
4  Puma Fat Lace + Steel Grey/Mulberry Purple  Me...  ...  2019-12-30 10:50:21.362553
5  Puma Clyde X Undftd Snakeskin Ribbon Red 35391...  ...  2019-12-30 10:50:21.378181
6  Puma Clyde Court Reform Meek  Mens Red Athleti...  ...  2019-12-30 10:50:21.378181
7  Puma Palace Guard Red October  Mens Red Athlet...  ...  2019-12-30 10:50:21.378181
8  Skechers Urbantrack Wynn Casual Shoes Mens Lac...  ...  2019-12-30 10:50:21.378181
9  Air Cushion Shoes Max 97 Men's Sneakers Sports...  ...  2019-12-30 10:50:21.378181

[10 rows x 5 columns]

First thing I'm going to do is to get the brand name of each shoe, from inspecting the first ten rows, the brand name is the first word in the name. I'm going to extract the brand names and create a new column for them.

In [4]:
# new data frame with split value columns 
new = shoes["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
shoes["Brand"]= new[0]
shoes["Brand"]

0          Nike
1         Lucky
2        Adidas
3          Nike
4          Puma
         ...
1795        New
1796    Chinese
1797        Old
1798        Old
1799        Old
Name: Brand, Length: 1800, dtype: object

I am going to be renaming some columns for better understanding of the dataset

In [0]:
shoes.rename(columns={'Normal_price':'Old_price($)', 'Discount_price': 'Current_price($)', 'Data' : 'Date_Scraped'}, inplace=True)

In [6]:
#set all the nan values in the old_price column to zero
shoes['Old_price($)'] = shoes['Old_price($)'].fillna(0)

shoes

                                                   Name  ...    Brand
0     Nike Satire L Black/Black-Anthracite 654431-00...  ...     Nike
1        Lucky Brand Mens Gaston Leather Plain Toe Boot  ...    Lucky
2     Adidas ZX Flux W White/White-Gold BY9216 Women...  ...   Adidas
3        Nike Men's Tennis Classic CS Suede Tennis Shoe  ...     Nike
4     Puma Fat Lace + Steel Grey/Mulberry Purple  Me...  ...     Puma
...                                                 ...  ...      ...
1795  New Beautiful Woman Spring Embroidered Shoes H...  ...      New
1796  Chinese Embroidered Shoes women's singles boot...  ...  Chinese
1797  Old Beijing Cloth Embroidered Shoes Small Whit...  ...      Old
1798  Old Beijing Cloth Shoes Thick Sole National St...  ...      Old
1799  Old Beijing Cloth Shoes Slippers Embroidered S...  ...      Old

[1800 rows x 6 columns]

In [0]:
#remove the special characters from the price columns and convert the column to a numeric one
shoes['Old_price($)'] = shoes['Old_price($)'].str.replace('$', '').str.replace('\r', '').str.strip().astype(float)

In [0]:
shoes['Current_price($)'] = shoes['Current_price($)'].str.replace('$', '').str.replace(',', '').str.strip().astype(float)

In [18]:
#clean the date scraped column
new = shoes['Date_Scraped'].str.split(".", n = 1, expand = True)
shoes['Date_Scraped']= new[0]
shoes['Date_Scraped']

0       2019-12-30 10:50:21
1       2019-12-30 10:50:21
2       2019-12-30 10:50:21
3       2019-12-30 10:50:21
4       2019-12-30 10:50:21
               ...
1795    2019-12-30 10:54:17
1796    2019-12-30 10:54:17
1797    2019-12-30 10:54:17
1798    2019-12-30 10:54:17
1799    2019-12-30 10:54:17
Name: Date_Scraped, Length: 1800, dtype: object

In [46]:
shoes['Brand'].value_counts()

Air          542
Old          341
Puma         140
Steve        103
Chinese       66
            ...
Baretraps      1
MSGM           1
XOXO           1
Teva           1
Radii          1
Name: Brand, Length: 114, dtype: int64

In [47]:
shoes['Shipping'].value_counts()

Free Shipping       1776
$10.00 Shipping       18
Special Shipping       5
$5.00 Shipping         1
Name: Shipping, dtype: int64

In [48]:
shoes['Old_price($)'].value_counts()

199.0    568
80.0      58
100.0     53
110.0     49
90.0      44
        ...
670.0      1
97.5       1
95.0       1
218.0      1
514.0      1
Name: Old_price($), Length: 83, dtype: int64